[include printer.base.cfg]
[include ./mod/mod.cfg]
[include ./mod_data/plugins.cfg]
[include ./mod_data/user.cfg]

[heater_bed]
heater_pin: PB9
sensor_type: Generic 3950
sensor_pin: PA0
pullup_resistor: 4700
control: pid
pid_Kp: 32.79
pid_Ki: 4.970
pid_Kd: 54.118
#control: watermark
#max_power: 0.4
max_power: 0.6
min_temp: -100
max_temp: 130


[extruder]
step_pin: eboard:PB14
dir_pin: !eboard:PB15
enable_pin: !eboard:PB12
microsteps: 16
#rotation_distance: 4.39185
gear_ratio:50:10
rotation_distance: 21.9
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: eboard:PA8
sensor_type: Generic 3950
sensor_pin: eboard:PA0
#control: pid
#pid_Kp: 20.109
#pid_Ki: 1.943
#pid_Kd: 52.031
min_temp: -100
max_temp: 350
min_extrude_temp: 0
pressure_advance:0.03
pressure_advance_smooth_time: 0.040
max_extrude_only_distance:1500.00
max_extrude_cross_section:1000

[verify_heater extruder]
max_error: 290
check_gain_time:200
hysteresis: 10
heating_gain: 10

[tmc2209 extruder]
uart_pin: eboard:PB10
interpolate:True
run_current: 0.8
hold_current:0.8
sense_resistor:0.10
#stealthchop_threshold: 999999

[input_shaper]
#shaper_type_x: mzv
#shaper_freq_x: 47.4
#shaper_type_y: mzv
#shaper_freq_y: 46.2

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh MESH_DATA]
#*# version = 1
#*# points =
#*# 	  -2.287500, -2.621667, -2.793333, -2.856667, -2.612500
#*# 	  -2.275833, -2.610000, -2.815000, -2.809167, -2.565000
#*# 	  -2.238333, -2.595000, -2.815000, -2.858333, -2.627500
#*# 	  -2.262500, -2.604167, -2.813333, -2.859167, -2.703333
#*# 	  -2.258333, -2.570833, -2.772500, -2.816667, -2.665833
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 5
#*# mesh_y_pps = 5
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 0.0
#*# max_x = 215.0
#*# min_y = 0.0
#*# max_y = 215.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 54.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 51.8
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.068
#*# pid_ki = 1.114
#*# pid_kd = 119.376
