#[filament_switch_sensor switch_sensor]
#switch_pin: ^PB14
#pause_on_runout: False
#runout_gcode:
# PAUSE # [pause_resume] is required in printer.cfg
# M117 Filament switch runout
#insert_gcode:
# M117 Filament switch inserted
#[filament_motion_sensor encoder_sensor]
#switch_pin: ^PB13
#detection_length: 10 # accuracy of motion sensor 2.88mm
#extruder: extruder
#ause_on_runout: False
#runout_gcode:
# CANCEL_PRINT #PAUSE # [pause_resume] is required in printer.cfg
# M117 Filament encoder runout
#insert_gcode:
#M117 Filament encoder inserted

#[delayed_gcode enable_encoder]
# Helper macro to enable runout sensor
#gcode:
    # Activate the sensor
#    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=1

[gcode_macro LOAD_FILAMENT]
gcode:
#   SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
   M83                            ; set extruder to relative
   G1 E80 F700                    ; load
   G1 E50 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
#   UPDATE_DELAYED_GCODE ID=enable_encoder DURATION=15
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
#   SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
   M83                            ; set extruder to relative
   G1 E25 F300                    ; extrude a little to soften tip
   G1 E-95 F1000                  ; retract some, but not too much or it will jam
   M82                            ; set extruder to absolute
#   UPDATE_DELAYED_GCODE ID=enable_encoder DURATION=15

[gcode_macro Heatsoak]
gcode:
    G28
    G1 Y150 F6000
    G1 X150 F6000
    #SET_PRESSURE_ADVANCE ADVANCE=0.03
    M104 S150 ;set extruder to 150c
    M190 S110 ;wait for bed to reach 110c
    SET_FAN_SPEED FAN=bed_fan SPEED=1 ;turn on bed fan
    SET_FAN_SPEED FAN=filter SPEED=1 ;turn on nevermore fan
    M106 S128 ;turn on part fans 50%
     SET_IDLE_TIMEOUT TIMEOUT=1800 ;set 30min timeout