

[include mainsail.cfg]
[include TEST_SPEED.cfg]
[include Line_Purge.cfg]
[exclude_object]
#[include A4T_leds.cfg]
[include filament_macros.cfg]
[include shaketune.cfg]
[include OrbiterSensor2.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_310020001351313234353230-if00

[mcu obt]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_OBT-if00

[printer]
kinematics: corexy
max_velocity: 700  
max_accel: 15000
max_z_velocity: 15
max_z_accel: 250
minimum_cruise_ratio: 0.25
square_corner_velocity: 15

[lis2dw]
cs_pin: obt:PA4
spi_bus: spi1
axes_map: y,z,x

[resonance_tester]
accel_chip: lis2dw
probe_points: 150, 150, 20
accel_per_hz: 75
min_freq: 20
max_freq: 150
sweeping_period: 0

[input_shaper]
shaper_freq_x: 68.4
shaper_type_x: ei
shaper_freq_y: 55.6
shaper_type_y: ei

[thermistor NTC100K B3950]
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6

#####################################################################
#      TMC Autotune
#####################################################################

[autotune_tmc stepper_x]
motor: ldo-42sth48-2504ac
tuning_goal: performance
[autotune_tmc stepper_y]
motor: ldo-42sth48-2504ac
tuning_goal: performance

#[autotune_tmc stepper_z]
#motor: fysetc-42HC40-204A-300N84
#tuning_goal: silent
#[autotune_tmc stepper_z1]
#motor: fysetc-42HC40-204A-300N84
#tuning_goal: silent
#[autotune_tmc stepper_z2]
#motor: fysetc-42HC40-204A-300N84
#tuning_goal: silent


#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
##	Connected to X-MOT (B Motor)
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: obt:PB0
position_min: 0
position_endstop: 295
position_max: 295
homing_speed: 100   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2240 stepper_x]
spi_bus: spi1
cs_pin: PE1
interpolate: True
run_current: 1.6 #1.7 
hold_current: 1.2
#driver_SLOPE_CONTROL: 3 # set 2 or 3, reduces temp by about 25c, no loss to performance
#stealthchop_threshold: 0

[stepper_y]
##	Connected to Y-MOT (A Motor)
step_pin: PE6
dir_pin: PA14
enable_pin: !PE0
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: PG6 # Y-MAX
position_min: 0
position_endstop: 305
position_max: 305
homing_speed: 100  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2240 stepper_y]
spi_bus: spi1
cs_pin: PD3
interpolate: True
run_current: 1.6 #1.7
hold_current: 1.2
#driver_SLOPE_CONTROL: 3 # set 2 or 3, reduces temp by about 25c, no loss to performance
#stealthchop_threshold: 0

[stepper_z]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 4
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: probe:z_virtual_endstop #^PA0
#position_endstop: -0.850
position_max: 250
position_min: -10
homing_speed: 5
second_homing_speed: 2
homing_retract_dist: 5

[tmc2209 stepper_z]
uart_pin: PC4
#uart_address: 0
interpolate: True
run_current: 1.2
hold_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z1]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 4
full_steps_per_rotation: 200
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PD11
interpolate: True
run_current: 1.2
hold_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 999999

[stepper_z2]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 4
full_steps_per_rotation: 200
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PC6
interpolate: true
run_current: 1.2
hold_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 999999

#####################################################################
#   Extruder
#####################################################################

##	In E0-MOT Position
[extruder]
step_pin: obt:PB7
dir_pin: obt:PB6
enable_pin: !obt:PB4
rotation_distance: 4.555
microsteps: 32
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: obt:PA0
sensor_type: PT1000
sensor_pin: obt:PA3
pullup_resistor: 2200
min_temp: 10
max_temp: 285
max_power: 1.0
min_extrude_temp: 170
smooth_time: 0.5
max_extrude_only_distance: 150
max_extrude_cross_section: 100
max_power: 0.995 # limit heater power to 99.5% to enable autorecovery from short detection
pwm_cycle_time: 0.00500
#control: pid
#pid_kp: 24.299
#pid_ki: 1.742
#pid_kd: 84.749
pressure_advance: 0.035 #PLA
pressure_advance_smooth_time: 0.03

[tmc2209 extruder]
uart_pin: obt:PB5
interpolate: true
run_current: 0.7 #was 0.75 but camelcase said that was too spicy 
sense_resistor: 0.110
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PF3 # Spider v2.x
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.75
min_temp: 0
max_temp: 125
control: pid
pid_kp: 38.658
pid_ki: 1.591
pid_kd: 234.847

#####################################################################
#	Probe
#####################################################################

[probe]
#Voron Tap
pin: !obt:PA15
x_offset: 0
y_offset: 0 #25.0
#z_offset: 0
speed: 5
samples: 3
samples_result: median
sample_retract_dist: 5.0
samples_tolerance: 0.01 #0.006
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}
    

#####################################################################
#	Fan Control
#####################################################################

[heater_fan Hotend]
pin: !obt:PA9  
#tachometer_pin: orbitoolO2:PA8
#tachometer_ppr: 2
#tachometer_poll_interval: 0.0005
heater: extruder
cycle_time: 0.0001 #10KHz PWM frecvency
heater_temp: 60
fan_speed: 1
hardware_pwm: false
shutdown_speed: 0.0
max_power: 0.995 #setup specific

[fan]
##	Print Cooling Fan - FAN1 Connector
pin: obt:PA10
max_power: 0.995
shutdown_speed: 0.0
cycle_time: 0.02
kick_start_time: 0.2
hardware_pwm: false

[fan_generic filter]
pin: PA8
max_power: 1.0
kick_start_time: 0.5
off_below: 0.13
cycle_time: 0.010

[fan_generic bed_fan]
pin: PD13
max_power: .75
kick_start_time: 0.5
off_below: 0.13
cycle_time: 0.010


[multi_pin electronics_fans]
pins: PE5, PD12

[controller_fan Electronics_Bay]
pin: multi_pin:electronics_fans
stepper: stepper_y, stepper_x, stepper_z, stepper_z1, stepper_z2
idle_timeout: 30
kick_start_time: 0.5
max_power: 0.8
cycle_time: 0.010

#[controller_fan Orbitool]
#pin: obt:PB1
#stepper: extruder
#max_power: 0.75
#shutdown_speed: 0.0
#cycle_time: 0.02
#kick_start_time: 0.2
#hardware_pwm: false

[temperature_sensor _Chamber_R]
sensor_type: NTC100K B3950
sensor_pin: PF5

[temperature_sensor _Chamber_L]
sensor_type: NTC100K B3950
sensor_pin: PF6

[temperature_sensor Chamber]
sensor_type: temperature_combined
sensor_list: temperature_sensor _Chamber_R, temperature_sensor _Chamber_L
combination_method: mean
maximum_deviation: 500

[temperature_sensor Electronics]
sensor_type: NTC100K B3950 #NTC 100K MGB18-104F39050L32
sensor_pin: PF4
#min_temp: 0
max_temp: 85

[temperature_sensor PI]
sensor_type: temperature_host
#max_temp: 100

[temperature_sensor MCU]
sensor_type: temperature_mcu
sensor_mcu: mcu
#max_temp: 100

[temperature_sensor OBT_MCU]
sensor_type: temperature_mcu
sensor_mcu: obt
#max_temp: 100

[adc_temperature HOT_P]
#temperature1:5 # value in Ampere
temperature1:120 # value in Watts
#voltage1:1.32
voltage1:1.91 
#temperature2:10 # value in Ampere
temperature2:240 # value in Watts
voltage2:3.82 
#voltage2:2.64

[temperature_sensor Hotend_power]
sensor_pin: obt:PA2 
sensor_type: HOT_P


#####################################################################
#	LED Control
#####################################################################

[output_pin daylight]
pin: PA0 #E1 Out
pwm: True
cycle_time: 0.01

[output_pin O2run_led]
pin = obt:PB8
value: 1
shutdown_value: 0

[neopixel a4t_leds]
pin: obt:PA1
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

[delayed_gcode setleds] 
initial_duration: 1
gcode:
  SET_LED LED=a4t_leds RED=0.06 GREEN=0.0 BLUE=0.15 WHITE=0.0 INDEX=1
[delayed_gcode setnozzle] 
initial_duration: 2
gcode: 
  SET_LED LED=a4t_leds RED=0.0 GREEN=0.0 BLUE=0.0 WHITE=1.0 INDEX=2 TRANSMIT=0
  SET_LED LED=a4t_leds RED=0.0 GREEN=0.0 BLUE=0.0 WHITE=1.0 INDEX=3
[delayed_gcode setdaylights] 
initial_duration: 3
gcode:
  SET_PIN PIN=daylight VALUE=0.1

#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
#	XY Location of the Z Endstop Switch
#	Update -10,-10 to the XY coordinates of your endstop pin 
#	(such as 157,305) after going through Z Endstop Pin
#	Location Definition step.
home_xy_position: 150,150 #171,305
speed:150
z_hop:5

#for probe as z
#[safe_z_home]
#ome_xy_position: 150, 150
#speed: 50
#z_hop: 15
#z_hop_speed: 5
   
[z_tilt]
##	Use Z_TILT_ADJUST to level the bed .
##	z_positions: Location of toolhead
z_positions:
	-46, 20
	150, 338
	346, 20
points:
	5, 5
	150, 290
	295, 5
speed: 150
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.01

[bed_mesh]
speed: 150
horizontal_move_z: 10
mesh_min: 35,26
mesh_max: 270, 258
probe_count: 5,5
algorithm: bicubic
zero_reference_position: 150,150

[axis_twist_compensation]
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
calibrate_start_x: 20
#   Defines the minimum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the starting
#   calibration position. This parameter must be provided.
calibrate_end_x: 280
#   Defines the maximum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the ending
#   calibration position. This parameter must be provided.
calibrate_y: 150
#   Defines the Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle during the
#   calibration process. This parameter must be provided and is recommended to
#   be near the center of the bed


#####################################################################
#	Macros
#####################################################################
[gcode_macro Lights_on]
gcode:
  SET_PIN PIN=daylight VALUE=1.00

[gcode_macro Lights_off]
gcode:
  SET_PIN PIN=daylight VALUE=0
  NozzleLEDs_OFF

[gcode_macro Lights_dim]
gcode:
  SET_PIN PIN=daylight VALUE=0.25

[gcode_macro Lights_verydim]
gcode:
  SET_PIN PIN=daylight VALUE=0.1

[gcode_macro NozzleLEDs_ON]
gcode:
  SET_LED LED=a4t_leds RED=0.0 GREEN=0.0 BLUE=0.0 WHITE=1.0 INDEX=2 TRANSMIT=0
  SET_LED LED=a4t_leds RED=0.0 GREEN=0.0 BLUE=0.0 WHITE=1.0 INDEX=3

[gcode_macro NozzleLEDs_OFF]
gcode:
  SET_LED LED=a4t_leds RED=0.0 GREEN=0.0 BLUE=0.0 WHITE=0.0 INDEX=2 TRANSMIT=0
  SET_LED LED=a4t_leds RED=0.0 GREEN=0.0 BLUE=0.0 WHITE=0.0 INDEX=3

[gcode_macro PRINT_START]
gcode:
    CLEAR_PAUSE
    {% set BED = params.BED|default(60)|float %}
    {% set EXTRUDER = params.EXTRUDER|default(190)|float %}
    M190 S{BED}
    M109 S140
    G28                            ; home all axes
    Z_tilt_adjust
    G28 Z
    BED_MESH_PROFILE LOAD=default
    #BED_MESH_CALIBRATE
    G90                            ; absolute positioning    
    G1 Z20 F3000                   ; move nozzle away from bed
    M109 S{EXTRUDER}
    LINE_PURGE

[gcode_macro PRINT_END]
gcode:
    M400                           ; wait for buffer to clear
    TURN_OFF_HEATERS
    G92 E0                         ; zero the extruder
    G1 E-15.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G28 X Y                        ; home x and y, back corner
    UPDATE_DELAYED_GCODE ID=bed_fan_off DURATION=60  ; Run bed fan for one minute
    UPDATE_DELAYED_GCODE ID=filter_off DURATION=600  ; Run Nevermore for ten minutes to clear fumes

[delayed_gcode filter_off]
gcode:
    SET_FAN_SPEED FAN=filter SPEED=0

[delayed_gcode bed_fan_off]
gcode:
    SET_FAN_SPEED FAN=bed_fan SPEED=0

[gcode_macro TOGGLE_FILTER]
gcode:
    {% if printer['fan_generic filter'].speed > 0 %}
      SET_FAN_SPEED FAN=filter SPEED=0
      SET_FAN_SPEED FAN=bed_fan SPEED=0
    {% else %}
      SET_FAN_SPEED FAN=filter SPEED=1
      SET_FAN_SPEED FAN=bed_fan SPEED=1
    {% endif %}

[virtual_sdcard]
path: ~/printer_data/gcodes

[display_status]

[pause_resume]

#[gcode_macro PAUSE]
#description: Pause the actual running print
#rename_existing: PAUSE_BASE
#gcode:
    ##### set defaults #####
#    {% set x = params.X|default(230) %}      #edit to your park position
 #   {% set y = params.Y|default(230) %}      #edit to your park position
 #   {% set z = params.Z|default(10)|float %} #edit to your park position
 #   {% set e = params.E|default(1) %}        #edit to your retract length
    ##### calculate save lift position #####
 #   {% set max_z = printer.toolhead.axis_maximum.z|float %}
 #   {% set act_z = printer.toolhead.position.z|float %}
 #   {% set lift_z = z|abs %}
  #  {% if act_z < (max_z - lift_z) %}
  #      {% set z_safe = lift_z %}
 #   {% else %}
  #      {% set z_safe = max_z - act_z %}
 #   {% endif %}
    ##### end of definitions #####
 #   PAUSE_BASE
 #   G91
 #   {% if printer.extruder.can_extrude|lower == 'true' %}
 #     G1 E-{e} F2100
 #   {% else %}
  #    {action_respond_info("Extruder not hot enough")}
 #   {% endif %}
#    {% if "xyz" in printer.toolhead.homed_axes %}    
 #     G1 Z{z_safe}
 #     G90
 #     G1 X{x} Y{y} F6000
 #   {% else %}
 #     {action_respond_info("Printer not homed")}
#    {% endif %}

#[gcode_macro RESUME]
#description: Resume the actual running print
#rename_existing: RESUME_BASE
#gcode:
    ##### set defaults #####
 #   {% set e = params.E|default(1) %} #edit to your retract length
    #### get VELOCITY parameter if specified ####
 #   {% if 'VELOCITY' in params|upper %}
 #     {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
 #   {%else %}
 #     {% set get_params = "" %}
 #   {% endif %}
    ##### end of definitions #####
 #   G91
 #   {% if printer.extruder.can_extrude|lower == 'true' %}
 #     G1 E{e} F2100
  #  {% else %}
  #    {action_respond_info("Extruder not hot enough")}
  #  {% endif %}  
 #   RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  #TURN_OFF_HEATERS
  PRINT_END
  CANCEL_PRINT_BASE

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [axis_twist_compensation]
#*# z_compensations = 0.025833, -0.019792, -0.006042
#*# compensation_start_x = 20.0
#*# compensation_end_x = 280.0
#*#
#*# [probe]
#*# z_offset = -0.935
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.130238, 0.100869, 0.057642, 0.108856, 0.076945
#*# 	  0.067738, 0.057744, 0.052642, 0.068231, 0.061320
#*# 	  0.056488, 0.040244, -0.001733, -0.014894, -0.050555
#*# 	  0.054613, 0.039619, 0.005142, -0.026769, -0.089305
#*# 	  0.133988, 0.022744, -0.017358, -0.084894, -0.162430
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 35.0
#*# max_x = 270.0
#*# min_y = 26.0
#*# max_y = 258.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.344
#*# pid_ki = 1.836
#*# pid_kd = 87.443
