##orcaslicer start gcode. cfg has code for orca to control aux fan
CLEAR_PAUSE
M104 S0
M140 S0
PRINT_START EXTRUDER=[nozzle_temperature_initial_layer] BED=[bed_temperature_initial_layer_single]
##

##prusaslicer start gcode. have "Emit temperature commands automatically" unchecked. aux fan not controlled
CLEAR_PAUSE
print_start EXTRUDER=[first_layer_temperature[initial_tool] BED=[first_layer_bed_temperature]
##
